$primary-color: #FF7597;
$primary-color-variant: #FF0266;
$background: #121212;
$menu-color: #1F1F1F;
$high-emphasis: rgba(255, 255, 255, 0.87);
$medium-emphasis: rgba(255, 255, 255, 0.6);
$disabled: rgba(255, 255, 255, 0.38);
$font-stack: 'Inter', sans-serif;

* {
  background-color: $background;
  color: $high-emphasis;
  font-family: $font-stack;
  line-height: 1.6;
}

span { color: $primary-color-variant; }

section {
  height: 100vh;
}

ul {
  padding: 0;
  li {
    list-style: none;
  } 
}

a {
  text-decoration: none;
}

.download {  
  color: $primary-color;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 4em;
  margin-top: 30vh;
  
  &:hover,
  &:focus { 
    border-color: $primary-color-variant;
    color: #fff;
  }

  a {
    display: block;
    width:100%;
    height: 100%;
    display:block;
    text-align:center;
  }
}

// Size can also be negative; see how it's smaller than the element
.download:hover,
.download:focus {
  box-shadow: 0 0.5em 0.5em -0.4em $primary-color-variant;
  transform: translateY(-0.25em);
}
  
  /* iPhone 6+, 7+, 8+ portrait*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) {

  .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 1;

    .toggler {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      height: 50px;
      width: 50px;
      opacity: 0;
      cursor: pointer;
    }

    /* Toggler Animate */
    .toggler:checked + .hamburger {
      div {
        transform: rotate(135deg);
      }
    }

    /* Make X */
    .toggler:checked + .hamburger > div:before,
    .toggler:checked + .hamburger > div:after {
      top: 0;
      transform: rotate(90deg);
    }

    .toggler:checked ~ .hamburger {
      background: $menu-color;
    }

    /* Show Nav */
    .toggler:checked ~ .nav {
      visibility: visible;
      background-color: $menu-color;

      div {
        transform: scale(1);
        transition-duration: 0.75s;

        div {
          opacity: 1;
          transition: opacity 0.4s ease;
        }
      }
    }

    .hamburger {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      height: 30px;
      width: 30px;
      padding: 1rem;
      background: $background;
      display: flex;
      align-items: center;
      justify-content: center;
      
      /* Hamburger Line */
      div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
      }

      /* Top and Bottom Lines */
      div:before,
      div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }

      /* Moves Line Down */
      div:after {
        top: 10px;
      }
    }

    .nav {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      visibility: hidden;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $menu-color;

      div {
        border-radius: 50%;
        width: 10vw;
        height: 10vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;

        div {
          background: $menu-color;
          text-align: center;
          max-width: 90vw;
          max-height: 100vh;
          opacity: 0;
          transition: opacity 0.4s ease;
          display: flex;
          flex: none;

          ul {
            display: flex;
            padding: 0;

            li {
              background-color: $menu-color;
              list-style: none;
              color: $high-emphasis;
              font-size: 1.5 rem;
              padding: 3vw;

              a {
                background-color: $menu-color;
                color: inherit;
                text-decoration: none;
                transition: color 0.4s ease;
              }
            }
          }
        }
      }
    }
  }

  .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 75px;

    h1 {
      align-self: center;
      font-style: normal;
      font-weight: 1200;
      font-size: 400%;
      line-height: 100%;
      letter-spacing: -1px;
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 250%;
      color: $primary-color;
      line-height: 100%;
      letter-spacing: -1px;
    }

    p {
      width: 80vw;
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
    }

    .code-svg {
      top: 100vh;
    }

    .card-container {
      display: flex;
      padding-top: 20px;
      max-width: 98vw;

      .slick-arrow {
        position: relative;
        align-self: center;
        align-items: center;
        max-height: 40px;
        max-width: 40px;
        border-color: $background;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .summary {
          width: 60vw;
          font-weight: normal;
          font-size: 20px;
          line-height: 150%;
          text-align: center;
        }

        img {
          display: flex;
          max-width:230px;
          max-height:95px;
          width: auto;
          height: auto;
          border-radius: 20px;
        }
      }
    }
  }
}