<!doctype html>
<html>
  <head>
    <title>Anthony Mercado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel = "stylesheet" type = "text/css" href = "./css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
      <input type="checkbox" class="toggler">
      <nav class="nav-bar">
        <ul>
          <li><a class="nav-link" href="#resume">resume</a></li>
          <li><a class="nav-link" href="#portfolio">portfolio</a></li>
          <li><a class="nav-link" href="#skills">skills</a></li>
        </ul>
      </nav>
    </div>
    <section class="home" id="home">
      <div class="container">
        <h1>Anthony Mercado<span>.</span></h1>
        <h3>Full Stack Developer</h3>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <section class="about" id="about">
      <div class="container">
        <h2>My Motivation<span>.</span></h2>
        <p>I am an eager web developer open to any opportunity presented to me. I have a passion for not only web development, but for design as well. I enjoy working with complex systems with many moving parts and piecing them together to work elegantly.</p>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <section class="resume" id="resume">
      <div class="container">
        <h2>Resume<span>.</span></h2>
        <p>As a formality I have provided my resume for download if you’d like to give it a look</p>
        <a download href="public/downloads/amercado-resume.docx">
          Download Resume
        </a>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2>Portfolio<span>.</span></h2>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <section class="skills" id="skills">
      <div class="container">
        <h2>Skills<span>.</span></h2>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
  </body>
</html>