<!doctype html>
<html>
  <head>
    <title>Anthony Mercado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel = "stylesheet" type = "text/css" href = "./css/styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  </head>
  <body>
    <nav class="nav-bar">
      <ul class="nav-container">
        <li class="nav-item">
          <a class="nav-link" href="#resume">resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">skills</a>
        </li>
      </ul>
    </nav>
    <section id="home">
      <div class="container">
        <div class="big-text">
          <h1>Hello I'm Anthony</h1>
          <h2>I'm a creative Web Developer</h2>
          <h2>I enjoy turning ideas into something that works</h2>
        </div>
      </div>
    </section>
    <section id="about">

    </section>
    <section id="resume">

    </section>
    <section id="portfolio">

    </section>
    <section id="skills">

    </section>
  </body>
</html>