<!doctype html>
<html>
  <head>
    <title>Anthony Mercado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel = "stylesheet" type = "text/css" href = "./css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  </head>
  <body>
    <div class="menu">
      <input type="checkbox" class="toggler">
      <div class="hamburger"><div></div></div>
      <div class="nav">
        <div>
          <div>
            <ul>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#skills">Skills</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section class="home" id="home">
      <div class="container">
        <h1>Anthony Mercado<span>.</span></h1>
        <h3>Full Stack Developer</h3>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <section class="about" id="about">
      <div class="container">
        <h2>My Motivation<span>.</span></h2>
        <p>I am an eager web developer open to any opportunity presented to me. I have a passion for not only web development, but for design as well. I enjoy working with complex systems with many moving parts and piecing them together to work elegantly.</p>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <section class="resume" id="resume">
      <div class="container">
        <h2>Resume<span>.</span></h2>
        <p>As a formality I have provided my resume for download if you’d like to give it a look</p>
        <button class="download"><a href="/images/resume.pdf" download="amercado-resume.pdf">Download Resume</a></button>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2>Portfolio<span>.</span></h2>
        <div class="card-container">
          {{#each projects}}
          <div class="card">              
            <img src="{{this.image-url}}" loading="lazy" width="230px" height="95px">
            <h3>{{this.name}}</h3>
            <p>{{this.summary}}</p>
          </div>
          {{/each}}
        </div>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <section class="skills" id="skills">
      <div class="container">
        <h2>Skills<span>.</span></h2>
        <ul>
          {{#each skills}}
          <li>{{this.name}}</li>
          {{/each}}
        </ul>
        <svg class="code-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36 39L45 30L36 21" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M24 21L15 30L24 39" stroke="#FF7597" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </section>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="./utils/carousel.js"></script>
  </body>
</html>