<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
</head>
<body>
  <div>
    <form action="/portfolio" method="POST">
      <input name="pokemon" type="text" autocomplete="off">
      <button>Get Pokemon</button>
    </form>
    <div class="sprite">
      <img src="{{sprite}}" alt="pokemon-sprite">
    </div>
  </div>
</body>
</html>