* {
  background-color: #121212;
  color: #fff;
  color: rgba(255, 255, 255, 0.87);
  
}

/* iPhone 6+, 7+, 8+ portrait*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) {

}