:root {
  --primary-color: #5cdb95;
  --secondary-color: #8ee4af;
  --tertiary-color: #17181c;
  --text-color: #05386b;
  --text-secondary-color: #edf5e1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  color:var(--text-secondary-color);
}
h1 {
  font-size: 200%;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}